.nav{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.nav>li{
    position:relative;
    display:block
}
.nav>li>a{
    position:relative;
    display:block;
    padding:10px 15px
}

.nav>li>a:focus,.nav>li>a:hover{
    text-decoration:none;
    background-color:#eee
}
.nav>li.disabled>a{
    color:#777
}
.nav>li.disabled>a:focus,.nav>li.disabled>a:hover{
    color:#777;
    text-decoration:none;
    cursor:not-allowed;
    background-color:transparent
}
.nav .open>a,.nav .open>a:focus,.nav .open>a:hover{
    background-color:#eee;
    border-color:#337ab7
}
.nav .nav-divider{
    height:1px;margin:9px 0;
    overflow:hidden;
    background-color:#e5e5e5
}
.nav>li>a>img{
    max-width:none
}

.nav-pills>li{
    float:left
}

.nav-pills>li>a{
    border-radius:4px
}

.nav-pills>li+li{
    margin-left:2px
}

.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{
    color:#fff;
    background-color:#337ab7
}
