{% extends "layout.html" %}

{% block ul %}
     <li role="presentation" class="active">
         <a href="#">Home</a>
     </li>
     <li role="presentation">
         <a href="/sav">SAV</a>
     </li>
{% endblock %}

{% block div %}

    <h1 style="color: blue">Semantic Analysis Vietnamese</h1>
    <hr class="my-4">
    <br>
    <p class="lead text-justify" style="font-size: 20px"><b>Semantic Analysis Vietnamese (SAV)</b>
        là một mô hình phân tích cảm xúc trong tiếng Việt với 2 lớp cảm xúc là <b>Tích cực (Positive)</b>
        và <b>Tiêu cực (Negative)</b>. Trong mô hình này sử dụng các kỹ thuật là <b>Word2Vector</b> và
        mô hình Deep Learning <b>Recurrent Neural Network (RNN)</b>, cụ thể là <b>Long Short Term Memory (LSTM).</b></p>

    <p class="lead text-justify" style="font-size: 20px"><b>SAV</b> cho độ chính xác xấp xỉ <b>87%</b> với các bình luận (comment)
        hay đánh giá (review) của người dùng, khách hàng về các dịch vụ, giải trí như: ẩm thực, nhà hàng, khách sạn, địa điểm du lịch,
        homestay, rạp chiếu phim, bộ phim, diễn viên, các thương hiệu,... </p>

    <br><br><br>
    <p><a class="btn btn-lg btn-success"  href="/sav" role="button">Try it now</a> </p>

{% endblock %}